.AddFormContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 500;
  background-color: rgb(0, 229, 255);
}

.sale_Order_Form_Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: red;
}

.mainContainer {
  width: 100vb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bodyContainer {
  margin: 25px 0 0 0;
  width: 80vb;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid gainsboro;
  position: relative;
  background-color: rgb(206, 202, 206);
}
.dropdown {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .left {
  display: flex;
  gap: 5px;
} */

/* .left and top affecting table */

/* .right {
  padding: 2px 5px;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
} */

hr {
  margin: 0;
  padding: 0;
}

.bottom {
  padding-top: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bleft {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.bleft > h4 {
  margin: 5px 0;
}

.bleft > input {
  margin: 0;
  padding: 10px 5px 10px 5px;
  outline: none;
  border: 2px solid grey;
  border-radius: 5px;
  width: 250px;
}

.green_element_each_item {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 2px 4px;
  color: rgb(0, 92, 0);
  background-color: rgb(105, 248, 119);
  border-radius: 10px;
}
