body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0;
}

.navbar.dark {
  background-color: #333;
  color: #fff;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.app {
  /* padding: 2rem; */
  height: 100vh;
}

.tab {
  outline: none;
  border: none;
}

.app.dark {
  background-color: #121212;
  color: #ffffff;
}

main {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
