body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #f0f0f0;
}

.navbar.dark {
  background-color: #333;
  color: #fff;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.app {
  /* padding: 2rem; */
  height: 100vh;
  position: relative;
}

.tab {
  outline: none;
  border: none;
}

.app.dark {
  background-color: #121212;
  color: #ffffff;
}

main {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: end;
}

.tabpanel {
  height: 400px;
}

.footerDashboard {
  width: 100%;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-content: end;
}

.linkButton {
  width: 25px;
  height: 10px;
  display: flex;
  align-items: start;
  justify-content: center;
}
